.header {
  box-sizing: border-box;
  color: rgba(41, 41, 41, 1);
  padding: 24px 20px 40px;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('../images/Image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title{
  width: 280px;
  height: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.header__logo{
  width: 125px;
  height: 16px;
  line-height: 16px;
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons{
  display: flex;
  gap: 24px;
}

.header__logo__link{
  width: 125px;
  height: 16px;
  line-height: 16px;
}

.icon{
display: block;
height: 24px;
width: 24px;
}

.icon--phone{
background-image: url('..//images/Icon-Phone-call.png');
}

.icon--menu{
  background-image: url('../images/Icon-Burger-menu.png');
  }


