.header,
.menu {
  font-family: 'Space Grotesk', serif;
}

h2{
font-family: 'Space Grotesk', serif;
font-weight: 700;
font-size: 32px;
line-height: 32px;
}

.recommended__products__name{
  font-family: 'Space Grotesk', serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
}

.recommended__products__cost{
  font-family: 'Space Grotesk', serif;
font-weight: 700;
font-size: 16px;
line-height: 22px;
}

.recommended__products__name__paragraf{
  font-family: 'Space Mono', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.categories{
  font-family: 'Space Grotesk', serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
}

img{
  border-radius: 4px;
}

.categories__link__view,
.contact__link{
  font-family: 'Space Grotesk', serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
}

.categories__name{
  font-family: 'Space Grotesk', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  }

  .about__paragr{
    font-family: 'Space Mono', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  }

  .contact__name,
  .contact__email,
  .contact__mesagge{
    font-family: 'Space Mono', serif;
  font-weight: 400;
  font-size: 14px;
  }
