.about{
  padding: 0 20px 104px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  gap: 24px;
}

.img__background{
width: 100%;
border-radius: 0%;
margin-bottom: 48px;
}
